DevStudy.Rproj
.Rproj
.Rproj.user
.Rhistory
.RData
.*
.DS_STORE
!/.gitignore
.script
output/figures/pars/*
output/figures/neglogs/*
old/
input/rpe_cors/all_vstr_pe_betas.csv
input/rois/all_roi_pe_betas.csv
input/rois/all_roi_pe_zvals.csv
input/left_insula_betas.csv
input/rois/all_roi_m1_betas.csv
